.container {
    width: 324px;
    height: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 20px;
    margin-top: 10px;
}

.input {
    background: #88ffe4;
}