.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affairs {
    width: 65%;
}

.buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.high {
    color: red;
}

.middle {
    color: chocolate;
}

.low {
    color: green;
}