.mySelectContainer {
    position: relative;
    width: 320px;
    height: 140px;
}

.selectContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    z-index: 5;
    background: #ff8989;
}

.select {
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #999;
    font-weight: 500;
    text-align: center;
    display: block;
    border-bottom: 1px solid #999;
    /*background: #ff8989;*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.select:hover{
    color: #5264AE;
    cursor: pointer;
}

.bar, .barOption {
    position: relative;
    display: block;
    width: 320px;
    z-index: 5;
}

.bar:before,
.bar:after,
.barOption:before,
.barOption:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before,
.barOption:before {
    left: 50%;
}

.bar:after,
.barOption:after {
    right: 50%;
}

.barActive:before,
.barActive:after {
    z-index: 5;
    width: 50%;
}

.option:hover ~ .barOption:before,
.option:hover ~ .barOption:after {
    width: 50%;
}

.optionContainer {
    position: absolute;
    /*top: 0;*/
    left: 0;
    background: #ff8989;
    width: 100%;
    height: 35px;
    transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -webkit-transition: 0.2s linear all;
    z-index: 4;
}

.optionContainerOff {
    transform: translateY(0px);
    cursor: default;
}

.optionContainerOn {
    cursor: pointer;
}

.optionContainer1On {
    transform: translateY(35px);
    z-index: 4;
}

.optionContainer2On {
    transform: translateY(70px);
    z-index: 3;
}

.optionContainer3On {
    transform: translateY(105px);
    z-index: 2;
}

.option {
    /*background: #ff8989;
    width: 320px;
    height: 35px;*/
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 1px solid #999;
    /*transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;*/
    font-size: 30px;
    color: #999;
    font-weight: 500;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.option:hover {
    color: #5264AE;
}

.inputSelect {
    appearance: none
}