.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d2ff89;
}

.lightgreen {
    background: #d2ff89;
}

.blue {
    background: #5c97ff;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
.testSpanError {
    color: white;
}*/
