.container {
    width: 100%;
    height: 100vh;
    background: #d2ff89;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2Container {
    width: 100%;
    height: 172px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.itemsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lightgreen {
    background: #d2ff89;
}

.blue {
    background: #5c97ff;
}
