.container {
    padding-top: 80px;
    width: 100%;
    background: #ff8989;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectContainer {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100px;
    justify-content: space-around;
}


.radioContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 100px;
    justify-content: space-around;
}
