.container {
    position: fixed;
    width: 100%;
    height: 150px;
    background: #f286fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
}

.hiddenMenu1 {
    display: none;
}

.menu {
    display: block;
    position: fixed;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    background: #f286fc;
    z-index: 2;
    transition: 0.5s;
}

.menuOff {
    transform: translateY(-100%);
}

.menuOn {
    transform: translateY(0%);
}

.menuList {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navLink {
    text-decoration: none;
    height: 45px;
    display: flex;
    justify-content: center;
}

.buttonActive {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: #524f4e;
    transform: translateY(-7px);
}