.container {
    position: relative;

    height: 77px;
    width: 100%;
}

.menu {
    position: fixed;
    left: 0; top: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #4285F4;
    transition: 0.5s;
}

.menuOff {
    transform: translateY(-100%);
}

.menuOn {
    transform: translateY(0%);
}

.menuList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
    text-decoration: none;
    font-weight: 900;
}

.button {
    position: absolute;
    bottom: -100%;
    --border: 5px;      /*the border width*/
    --slant: 0.7em;     /*control the slanted corners*/
    --color: #092bdc;   /*the color*/

    font-size: 35px;
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);

    background:
            linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top right,
            linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
            0 0 0 200px inset var(--s,#0000),
            0 0 0 var(--border) inset var(--color);
    clip-path:
            polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
            100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
            );
    transition: color var(--t,0.3s), background-size 0.3s;
}

.button:hover,
.button:active {
    background-size: 100% 100%;
    color: #fff;
    --t: 0.2s 0.1s;
}

.button:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000a;
}

.button:active {
    --s: #0005;
    transition: none;
}

/*.menuButton {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    --border: 5px;    !* the border width *!
    --slant: 0.7em;   !* control the slanted corners *!
    --color: #092bdc; !* the color *!

    font-size: 35px;
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);

    background:
            linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top right,
            linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
            0 0 0 200px inset var(--s,#0000),
            0 0 0 var(--border) inset var(--color);
    clip-path:
            polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
            100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
            );
    transition: color var(--t,0.3s), background-size 0.3s;
}

.button:hover,
.button:active {
    background-size: 100% 100%;
    color: #fff;
    --t: 0.2s 0.1s;
}

.button:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000a;
}

.button:active {
    --s: #0005;
    transition: none;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-color: #4285F4;
}

.menuOff {
    z-index: 0;
    transform: translateY(0);
}

.menuOn {
    z-index: 2;
    transform: translateY(100%);
}

.menuList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 50%;
    text-decoration: none;
    font-weight: 900;
}*/