.container {
    position: fixed;
    width: 100%;
    height: 86px;
    background: #f286fc;
    display: flex;
    z-index: 98;
}

.menuButtonContainer {
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f286fc;
}

.menu {
    display: block;
    position: fixed;
    z-index: 97;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 86px;
    background: #f286fc;
    transition: 0.5s;
}

.menuOff {
    transform: translateY(0);
}

.menuOn {
    transform: translateY(86px);
}

.menuList {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navLink {
    text-decoration: none;
    height: 45px;
    display: flex;
    justify-content: center;
}

.buttonActive {
    background: #2EE59D;
    color: #524f4e;
}

