.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.background {
    background: #ffef89;
}

.error {
    color: red;
}

.count {
    font-weight: 900;
    font-size: 30px;
    padding-top: 10px;
    -webkit-text-stroke: 0.02em white;
}

.inputContainer {
    padding-top: 25px;
    width: 30%;
    display: flex;
    justify-content: end;
}

.addContainer {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.countContainer {
    width: 30%;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.resetContainer {
    width: 20%;
    display: flex;
    justify-content: start;
}